<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDoList</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container d-flex flex-column align-items-center">
            <img class="mb-5" src="https://hiringplatform.boolean.careers/images/logo.png" alt="Logo Boolean">
            <h1>To Do List</h1>

            <div class="new-todo">
                <p class="error" v-show="error">Errore! ToDo non può essere vuoto</p>
                <input type="text" placeholder="Aggiugni un nuovo ToDo" v-model.trim="newTodo.text" @keyup.enter="addTodo">
                <button class="add-btn" @click="addTodo">Aggiungi</button>
            </div>

            <ul class="list-group" v-if="todos.length > 0">
                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(todo, index) in todos" @click="toggleDone(index)">
                    <h3 :class="{'done': todo.done}">{{todo.text}}</h3>
                    <span class="text-danger delete" @click.stop="removeTodo(index)">&cross;</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>